@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;600&display=swap");

body {
  font-family: "Source Serif Pro", serif;
  background-color: #f6f1e9;
}

/* SignUp Form */
#loginContainer {
  margin: auto;
  width: 30rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
}

#logoContainer {
  background-color: #f1582c;
  text-align: center;
}

.labelForSignUp {
  font-weight: 600;
}

.inputText {
  height: 1.5rem;
  margin-bottom: 1rem;
}

.inputText:focus {
  box-shadow: 0.1rem 0.01rem 0.5rem 0.1rem #f1582c;
}

#signUpButton {
  width: 7rem;
  height: 2.5rem;
  margin: auto;
  background-color: #f1582c;
  color: #fff;
  border-style: none;
}

#signUpButton:hover {
  box-shadow: 0.1rem 0.01rem 0.5rem 0.1rem #f1582c;
}

#firstNameError,
#lastNameError,
#mailError,
#passwordError,
#repeatPasswordError,
#repeatPasswordErrorBlank,
#checkedError {
  display: none;
  color: red;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

#finalError {
  display: none;
  color: red;
  margin: auto;
  margin: -2rem 2rem 2rem 2rem;
  text-align: center;
}

#finalSuccess {
  display: none;
  color: green;
  margin: auto;
  margin: -2rem 2rem 2rem 2rem;
  text-align: center;
}

#checkedError {
  display: none;
  margin-top: 0.3rem;
  color: red;
}

#checkDiv {
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0rem 2rem 2rem 2rem;
}

form h1 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}
/* Sign Up Form Ends Here */

/* Main Page */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  background-color: #f1582c;
}

#menuList {
  display: flex;
  justify-content: flex;
  gap: 2rem;
}

#menuList li a:hover {
  border-bottom: white 0.5rem solid;
}

#menuList li {
  padding: 1rem 0rem;
}

#menuList li a {
  text-decoration: none;
  color: white;
  padding-bottom: 2.4rem;
}

.navButtons {
  padding: 2rem;
  display: none;
}

.userLoggedIn {
  padding: 2rem;
}

.userLoggedIn input[type="button"],
.navButtons input[type="button"] {
  display: inline-block;
  margin-bottom: 0rem;
  margin-left: 1rem;
}

.log-btn {
  display: inline-block;
  margin-left: 2rem;
  margin-top: -10rem;
}

#yourName {
  font-weight: 600;
  margin-bottom: 0.5rem;
  /* margin-top: 1rem; */
}

.userLoggedIn input[type="button"],
.navButtons input[type="button"] {
  height: 3rem;
  width: 5rem;
  border-radius: 5rem;
  border-style: none;
  background-color: #fff;
}

.userLoggedIn input[type="button"]:hover,
.navButtons input[type="button"]:hover {
  background-color: #f6f1e9;
}

#userDetails {
  display: inline-block;
  color: #fff;
}

.logo {
  width: 7rem;
}
/* nav ends here */

/* loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* loader Ends */

#contentSection {
  padding: 2rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  background-color: #f6f1e9;
}

#contentSection div img {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
}

#contentSection div h3 {
  font-weight: bold;
  font-size: 2rem;
  align-self: flex-start;
}

.ratingReviewDiv {
  align-items: center;
  justify-content: space-between;
  gap: 12rem;
}

.product {
  height: fit-content;
  width: 20rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  overflow: hidden;
  padding: 1.5rem;
}

.product:hover {
  box-shadow: 0.1rem 0.01rem 0.5rem 0.1rem #f1582c;
  cursor: pointer;
}

#contentSection input[type="button"] {
  background-color: #f1582c;
  border: none;
  color: #fff;
  padding: 1rem 1rem;
  text-decoration: none;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

#contentSection input[type="button"]:hover {
  box-shadow: 0.1rem 0.01rem 0.5rem 0.1rem #f1582c;
}

#contentSection div p {
  font-size: 0.8rem;
  padding: 1rem;
  align-self: flex-start;
}

#contentSection div h3 {
  padding: 0.5rem;
}

#contentSection div h2 {
  margin: 1.5rem 0rem;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Source Serif Pro", serif;
}

#contentSection div h2:hover {
  color: #f1582c;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  background-color: #f1582c;
  color: white;
}

.errorMessage {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 1150px) {
  nav,
  footer,
  #contentSection {
    padding: 2%;
  }
}

@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
    gap: 3rem;
    /* height: 20rem; */
  }
  footer {
    flex-direction: column;
  }

  nav div a {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 537px) {
  .log-btn {
    display: block;
    margin-top: 2rem;
  }
}
